[Unit]
Description=Yet another AMD fan controller

[Service]
Type=simple
EnvironmentFile=/etc/yaafc.conf
ExecStart=/usr/bin/yaafc $MIN $MAX $DELAY

[Install]
WantedBy=multi-user.target